<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Camera">
    <xacro:property name="camera_size" value="0.08"/>

    <xacro:macro name="Macro_CameraROS" params="name parent image_topic hz *origin fov width height">
        <joint name="${name}_mount_joint" type="fixed">
            <axis xyz="0 1 0"/>
            <xacro:insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${name}"/>
        </joint>

        <!-- gazebo camera frame -->
        <link name="${name}"/>

        <!-- actual camera frame -->
        <joint name="${name}_mount_joint_1" type="fixed">
            <axis xyz="0 1 0"/>
            <origin xyz="0 0 0" rpy="-${M_PI/2} 0 -${M_PI/2}"/>
            <parent link="${name}"/>
            <child link="${name}/camera"/>
        </joint>
        <link name="${name}/camera" />
        
        <gazebo reference="${name}">
            <sensor type="camera" name="${name}">
                <visualize>true</visualize>
                <update_rate>${hz}</update_rate>
                <camera name="head">
                    <horizontal_fov>${fov}</horizontal_fov>
                    <image>
                        <width>${width}</width>
                        <height>${height}</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.2</near>
                        <far>300</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.0001</stddev>
                    </noise>
                </camera>
                <!-- <plugin name="camera_controller" filename="libgazebo_ros_camera.so"> -->
                <plugin name="camera_controller" filename="libgz_cam.so">
                    <alwaysOn>true</alwaysOn>
                    <updateRate>${hz}</updateRate>
                    <cameraName>${name}</cameraName>
                    <imageTopicName>${image_topic}</imageTopicName>
                    <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                    <frameName>${name}</frameName>
                    <hackBaseline>0.0</hackBaseline>
                    <distortionK1>-0.0654429523802683</distortionK1>
                    <distortionK2>0.0998393523310624</distortionK2>
                    <distortionK3>0.0</distortionK3>
                    <distortionT1>0.00107153425553708</distortionT1>
                    <distortionT2>-0.00283428566558518</distortionT2>
                    <Cx>749.818357327634</Cx>
                    <Cy>534.587402816582</Cy>
                    <Fx>1311.05972093921</Fx>
                    <Fy>1313.67270907052</Fy>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>